

a {
    color: olivedrab;
}

.intro {
    padding-left: 7em;
    font-size: 3em;
    color: olivedrab
}

body {
    overflow: hidden;
}

html {
    overflow: hidden;
}

.Week {
    padding-left: 22.5em;
    padding-top: 0.5em;
    font-size: 1.5em;
    color: olivedrab
}

.body-content {
    width: 100%;
    height: 100%;
    padding: 0px !important;
}

th {
    background-color: olivedrab;
    text-align: center;
    color: white;
    padding: 15px;
    width: auto;
}

tr:hover {
    background-color: #f5f5f5;
}


tbody {
    display: block;
    height: 100%;
    overflow: auto;
}

.qctablebody {
    display: block;
    height: 34em;
    overflow: auto;
}


thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

td {
    text-align: center;
    word-break: break-all;
}

.Menu {
    font-weight: bolder;
    background-color: olivedrab;
    border-style: solid;
    color: white;
    font-size: 1.4em;
    border-style: double;
    border-color: olive;
    border-width: 5px;
}

.colorB {
    background-color: green
}

.colorA {
    background-color: white
}




/*Added by shubh*/

.fixed_header {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .fixed_header tbody {
        width: 80%;
        display: block;
        width: 100%;
        overflow-y: auto;
        height: 60vh;
    }

    .fixed_header thead tr {
        display: block;
    }

    .fixed_header thead {
        background: black;
        color: #fff;
        
    }

    .fixed_header th, .fixed_header td {
        padding: 5px;
        text-align: left;
        min-width: 20%;
        text-align: center;
    }


/*Column width form History table tds and  th*/
/*.col_width1 {
    min-width: 20%;
    max-width: 20%;
}
.col_width1 {
    width: 20%;
}
.col_width1 {
    width: 20%;
}
.col_width1 {
    width: 20%;
}
.col_width1 {
    width: 20%;
}*/