<!doctype html>
<html lang="en">
<head>
 <title>AsdaPricingAdministrationTool</title>
</head>
@*<img src="~/images/IRI_Fullwidth1.jpg" width="1000" height="500">*@
<body style="background-color:white;">
    
    <div class="text-center" style="height: 700px; padding-top:4.3em;">

        <h1 style="padding-left:1px">Asda Pricing Administration Tool</h1>
        <div style="padding:2.5em; font-size:30px">
            <div>
                <a href="DeliveryStatus/">Delivery Status</a>
            </div>
            <br>
            <div>
                <a href="DeliveryStatus/">Manual Corrections/Exclusions</a>
            </div>
            <br>
            <div>
                <a href="DeliveryStatus/">Job Submissions</a>
            </div>
            <br>
            <div>
                <a href="Settings/">Settings</a>
            </div>
            <br>
            <div>
                <a href="DeliveryStatusHistory/">History</a>
            </div>
        </div>
    </div>
</body>
</html>